/* Todo List  */ 

#container{
  width: 400px;
  height: 550px;
  border: 1px solid black;
  margin: auto;
  background-color: rgb(191,219,89);
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  margin-top: 20px;
}
 #box1{
  margin: auto;
  height: 30px;
  width: 200px;
  margin-left: 50px;
  margin-top: 20px;
 }

 button{
  height: 34px;
  margin-left: 10px;
  margin-top: 20px;
 }